@import "_general";

.link_eng{
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;

    #burger, #toggle{
        display: none;
    }

    .death{
        display: none;
    }

    .a_link{
        display: flex;
        justify-content: space-between;
        color: white;
        width: 501px;

        .a_link_p{
            color: #A5A2A2;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Junge', serif;
        }
        .a_link_p:hover{
            color: white;
            text-decoration: underline;
        }
    }

    .flag_link{
        margin-right: 20px;
    }
}

.header_eng{
    display: flex;
    position: relative;


    .text_header{
        width: 346px;
        margin-top: 34px;
        margin-left: 25px;
        overflow: hidden;
        p{
            font-family: 'Junge', serif;
        }

        .h1_text_header{
            font-size: 40px;
            margin-bottom: 10px;
        }

        .h2_text_header{
            font-size: 35px;
        }

        .p_text_header{
            font-size: 25px;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        .blood277{
            position: absolute;
            top: 54px;
            left: 124px;
        }

        .blood309{
            display: none;
        }

        .blood289{
            position: absolute;
            top: 67px;
            left: 0;
            z-index: -1;
        }

        .blood306, .blood304{
            display: none;
        }

        .blood364, .blood362{
            display: none;
        }
    }

    .div_img_header{
        width: 723px;
        height: 385px;
        margin-left: 22px;
        
        .img_header{
            width: 100%;
        }
    }
}

/*main*/

.main_eng{
    height: 2360px;
    margin-top: 37px;
    position: relative;

    .bandi_ted{
        margin-bottom: 51px;

        .div_about{
            display: flex;
            flex-direction: column;
            font-family: 'Junge', serif;

            hr{
                width: 630px;
            }

            .blood291{
                position: absolute;
                left: 139px;
            }

            .blood317, .blood378{
                display: none;
            }

            p{
                align-self: center;
                font-size: 30px;
            }

            .hr02{
                align-self: end;
            }
        }

        .div_content{
            display: flex;
            justify-content: space-between;
            width: 1042px;
            align-items: center;
            margin-top: 17px;
            margin-left: 45px;
            font-family: 'Jura', sans-serif;
            
            .div_content_one{
                width: 419px;

                .h1{
                    font-size: 40px;
                    margin-top: 6px;
                    font-family: 'Junge', serif;
                }

                .red{
                    color: red;
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-family: 'DM Sans', sans-serif;
                }

                .text{
                    font-size: 22px;
                    color: #484848;
                }

                .t01{
                    margin-bottom: 14px;
                }

                .blood277{
                    position: absolute;
                    top: 288px;
                    left: 144px;
                }

                .blood309, .blood372{
                    display: none;
                }
            }
            .div_content_two{
                width: 575px;
                height: 634px;
            
                img{
                    width: 100%;
                    height: 100%;
                }

                .img2, .img3{
                    display: none;
                }
            }
        }        
    }

    .features{
        width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 49px;

        hr{
            width: 630px;
            display: block;
        }

        .h1{
            align-self: center;
            font-size: 30px;
            text-align: center;
            font-family: 'Junge', serif;    
        }

        .blood295{
            position: absolute;
            top: 744px;
            left: 742px;
        }

        .blood259{
            display: none;
        }

        .hr02{
            align-self: flex-start;
        }

        .grid{
            width: 1100px;
            padding-left: 145px;
            padding-top: 5px;
            display: grid;
            grid-template-columns: 124px 135px 286px 380px;
            grid-template-rows: 47px 54px 241px 169px 81px 44px;
            margin: 0 auto;

            div{
                padding: 10px 0;
            }

            .r{
                margin: 0 auto;
            }

            p{
                font-size: 23px;
                text-align: center;
                font-family: 'Jura', sans-serif;
            }

            .img_features01{
                grid-column: 1/3;
                grid-row: 2/4;
                padding-top: 20px;
            }

            .p_features01{
                grid-column: 3/4;
                grid-row: 2/4;
                width: 260px;
                display: flex;
                align-items: end;
                margin-bottom: 5px;
            }

            .ok01{
                grid-column: 1/3;
                grid-row: 3/4;
                border-right: 1px solid #000;
            }

            .ok02{
                grid-column: 4/5;
                grid-row: 1/4;
                border-left: 1px solid #000;
            }

            .img_features02{
                grid-column: 4/5;
                grid-row: 2/4;
                padding-left: 15px;
                padding-top: 20px;
            }

            .hrr{
                grid-row: 4/4;
                grid-column: 2/5;
                border-top: 1px solid #000;
            }

            .p_features02{
                grid-column: 1/3;
                grid-row: 4/6;
                width: 249px;
            }

            .ok03{
                grid-column: 1/3;
                grid-row: 4/7; 
                border-right: 1px solid #000;
            }

            .img_features03{
                grid-column: 3/4;
                grid-row: 4/6;
            }

            .p_features03{
                grid-column: 4/5;
                grid-row: 4/6;
                width: 328px;
                margin-left: 15px;

                p{
                    width: 260px;                    
                }
            }

            .ok04{
                grid-column: 4/5;
                grid-row: 4/5;
                border-left: 1px solid #000;
            }

            .blood206{
                position: absolute;
                top: 1224px;
                left: 109px;
            }

            .blood322, .blood383{
                display: none;
            }
        }
    }

    .about_people{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 41px;
        
        .hr02{
            align-self: end;
        }

        .h1{
            font-size: 30px;
        }

        .about_each{
            width: 1050px;
            height: 854px;
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(75, 14px);
            grid-template-rows: repeat(61, 14px);
            font-size: 16px;
            margin-left: 18px;
            font-family: 'Jura', sans-serif;
            position: relative;

            .h1r{
                font-family: 'Junge', serif;
                color: #750000;
            }

            /*бодя*/

            .pb01{
                grid-column: 4/13;
                grid-row: 7/20;
                width: 134px;
            }

            .pb02{
                grid-column: 2/13;
                grid-row: 28/31;
                width: 154px;
            }

            .h1br{
                grid-column: 18/23;
                grid-row: 4/6;
                font-size: 22px;
                display: flex;
                align-items: center;
            }

            .imgb{
                grid-column: 14/27;
                grid-row: 6/22;
            }

            .h1b{
                grid-column: 14/27;
                grid-row: 22/24;
                font-size: 22px;
                display: flex;
                align-items: center;
            }

            .pb03{
                grid-column: 14/23;
                grid-row: 25/35;
                width: 187px;
            }

            /*саша*/
            
            .h1sr{
                grid-column: 30/44;
                grid-row: 6/8;
                font-size: 19px;
                width: 207px;
                display: flex;
                align-items: center;
                text-align: center;
            }

            .imgs{
                grid-column: 31/44;
                grid-row: 8/24;
            }
            
            .h1s{
                width: 188px;
                grid-column: 31/44;
                grid-row: 24/28;
                font-size: 20px;
                display: flex;
                align-items: center;
            }

            .ps{
                grid-column: 31/43;
                grid-row: 28/39;
                width: 177px;
                margin-top: 5px;
            }

            /*юра*/

            .h1yr{
                grid-column: 50/58;
                grid-row: 7/9;
                font-size: 22px;
                display: flex;
                align-items: center;
            }

            .imgy{
                grid-column: 48/61;
                grid-row: 9/25;
            }

            .h1y{
                width: 180px;
                grid-column: 48/61;
                grid-row: 25/29;
                font-size: 20px;
                text-align: center;
            }

            .py01{
                grid-column: 62/75;
                grid-row: 9/19;
                width: 180px;
            }

            .py02{
                grid-column: 62/71;
                grid-row: 20/27;
                width: 121px;
            }

            /*яся*/

            .h1zr{
                grid-column: 4/15;
                grid-row: 37/39;
                font-size: 22px;
                width: 172px;
                display: flex;
                align-items: center;
            }

            .imgz{
                grid-column: 3/16;
                grid-row: 39/55;
            }

            .h1z{
                grid-column: 5/15;
                grid-row: 55/61;
                font-size: 22px;
                text-align: center;
            }

            .pz01{
                grid-column: 17/43;
                grid-row: 43/49;
                width: 369px;
            }

            .pz02{
                grid-column: 17/30;
                grid-row: 50/56;
                width: 185px;
            }

            .pz03{
                grid-column: 36/43;
                grid-row: 49/55;
                text-align: center;
                width: 90px;
                font-family: 'Junge', serif;
            }


            .eachinpfoto{
                grid-column: 48/76;
                grid-row: 30/58;
            }

            .img002, .img003{
                display: none;
            }


            .ok1{
                grid-column: 28/29;
                grid-row: 2/41;
                border-right: 1px solid #000;
            }

            .ok2{
                grid-column: 45/46;
                grid-row: 1/55;
                border-right: 1px solid #000;
            }

            .ok3{
                grid-column: 1/27;
                grid-row: 35/36;
                border-bottom: 1px solid #000;
            }

            .ok4{
                grid-column: 30/45;
                grid-row: 40/41;
                border-bottom: 1px solid #000;
            }


            .black{
                width: 103px;
                height: 14px;
                background-color: #000;
                position: absolute;
                top: 165px;
                left: 702px;
            }


            .blood209{
                position: absolute;
                top: 268px;
                left: 67px;
            }

            .blood298{
                position: absolute;
                top: 660px;
                left: 360px;
                z-index: -1;
            }

            .blood324, .blood325, .blood388, .blood386{
                display: none;
            }

            .img2{
                display: none;
            }
        }
    }
}

/*footer*/

.footer_eng{
    width: 1100px;
    height: 450px;
    font-family: 'Junge', serif;
    background-color: #000;
    color: white;
    padding: 27px 23px 39px 33px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .networks{
        height: 327px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .net{
            height: 153px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .h1{
                font-size: 25px;
            }

            .p{
                font-size: 23px;
                height: 110px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

    .logo{
        width: 652px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;

        .h1{
            font-size: 40px;
            margin-bottom: 5px;
        }

        .h2{
            font-size: 35px;
            text-transform: uppercase;
        }

        hr{
            width: 652px;
            margin-top: 108px;
            margin-bottom: 20px;
        }

        .text{
            width: 659px;
            font-size: 20px;
        }
    }

    .location{
        width: 186px;

        .p01{
            font-size: 25px;
        }

        .p02{
            width: 118px;
            font-size: 23px;
            margin-left: 34px;
            margin-top: 12px;
        }
    }

    .blood288{
        position: absolute;
        top: 159px;
        left: 535px;
    }

    .blood287{
        position: absolute;
        top: 199px;
        left: 970px;
    }

    .blood302, .blood303, .blood361, .blood360{
        display: none;
    }
}
